.search {
  margin-top: 2em;
  --inner-border-width: 0.55px !important;
  --inner-padding: 0 !important;
  --inner-padding-end: 0 !important;
  --padding-start: 16px !important;
  --padding-end: 16px !important;
  width: 100%;

  .box {
    --padding-start: 10px !important;
  }

  .btn {
    margin: 0 !important;
    --padding-start: 0.9em !important;
    --padding-end: 0.9em !important;
    height: 100%;
    width: 20%;
    font-size: 20px;
  }
}

p {
  font-size: 9em;
}
