<ion-content>
  <ion-grid>
    <ion-row>
      <ion-item class="search" lines="none">
        <ion-input type="text" class="box" placeholder="Country or City name" [(ngModel)]="name"></ion-input>
        <ion-button class="btn" item-end color="primary" expand="full" (click)="getTemperature()">
          <ion-icon name="search"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-row>

    <ion-row justify-content-center align-items-center>
      <p>{{temperature}}º</p>
    </ion-row>
  </ion-grid>
</ion-content>
